{% extends "account/logout.html" %}
{% load i18n %}
{% load allauth_ui %}
{% block content %}
    {% trans "Se Deconnecter" as heading %}
    {% trans "Es t-us sur de te déconnecter ?" as subheading %}
    {% url 'account_logout' as action_url %}
    {% #container heading=heading subheading=subheading %}
    {% trans "Confirmer" as button_text %}
    {% #form url=action_url button_text=heading %}
    {% csrf_token %}
    {{ redirect_field }}
    {% /form %}
    {% /container %}
{% endblock content %}